.adduser_page {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 650px;
	height: 410px;
	background: white;
	border-radius: 10px;
	opacity: 0.8;
}

.text_box {
	display: inline-block;
	margin-top: 20px;
	margin-left: 57px;
	padding-right: 20px;
}


.select_option {
	margin-top: 25px;
	margin-left: 67px;
	line-height: 4em;
}

.select_option select {
	box-sizing: border-box;
	cursor: pointer;
	padding-right: 35px;
	border-radius: 7px;
	height: 1.7em;
}

.radio_box {
	display: inline-block;
	margin-top: 10px;
	margin-left: 53px;
}

.save_button input {
	margin-left: 72%;
	cursor: pointer;
	width: 80px;
	background-color: #8BC8B2;
}


