.detection_page {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 650px;
	height: 460px;
	background: white;
	border-radius: 10px;
	opacity: 0.8;
}

.text_box {
	display: inline-block;
}
 
.text_box input {
	border-radius: 5px;
	display: inline-block;
	border-bottom: 2px solid #adadad;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 17px;
}

.radio_box input {
	cursor: pointer;
	margin: 10px 10px;
	font-size: 17px;
}

.image_box {
	margin-top: 30px;
	margin-left: 46px;
}

.image_box img {
	width: 120px;
	height: 120px;
	margin: 15px 20px;
}

.file_upload {
	margin-top: 8px;
	margin-left: 45px;
}

.file_upload input {
	cursor: pointer;
	margin: 10px 20px;
}

.detection_button {
	margin-left: 70%;
	margin-top: 20px;
}