.patients_page {
	position: absolute;
	top: 35%;
	left: 50%;
	bottom: 30px;
	transform: translate(-50%);
	width: 650px;
	height: 1250px;
	background: white;
	border-radius: 10px;
	opacity: 0.8;
}

.patient_info {
	border-style: double;
    border-width: 1px;
    border-color: black;
}

.patient_info h4{
	margin-left: 30px;
	margin-top: 50px;
}

.patient_info p{
	margin-left: 30px;
	width: 600px;
}

.delete_button input{
	margin-left: 80%;
	margin-bottom: 2%;
	cursor: pointer;
	width: 90px;
	border-radius: 3px;
	background-color: #8BC8B2;
}